<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-7">
      <span class="customer-title">新規会員登録</span>
      <table class="signup-table">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <tr>
          <td>名前</td>
          <td>(姓)</td>
          <td width="200", class="customer-name_form">
          <%= f.text_field :last_name, autofocus: true, class:"customer-signup_form, form-control" %>
          </td>
          <td width="50"></td>
          <td>(名)</td>
          <td>
          <%= f.text_field :first_name, autofocus: true, class:"customer-signup_form, form-control" %>
          </td>
        </tr>

        <tr>
          <td>フリガナ</td>
          <td>(セイ)</td>
          <td class="customer-name_form">
          <%= f.text_field :last_name_kana, autofocus: true, class:"customer-signup_form, form-control" %>
          </td>
          <td width="50"></td>
          <td>(メイ)</td>
          <td>
          <%= f.text_field :first_name_kana, autofocus: true, class:"customer-signup_form, form-control" %>
          </td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td></td>
          <td>
          <%= f.email_field :email, autofocus: true, class:"customer-signup_form, form-control" %>
          </td>
        </tr>

        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td></td>
          <td>
          <%= f.text_field :postcode, autofocus: true, class:"customer-signup_form, form-control" %>
          </td>
        </tr>

        <tr>
          <td>住所</td>
          <td></td>
          <td colspan="4">
          <%= f.text_field :address, autofocus: true, class:"form-control" %>
          </td>
        </div>

        <tr>
          <td>電話番号(ハイフンなし)</td>
          <td></td>
          <td>
          <%= f.text_field :phone_number, autofocus: true, class:"customer-signup_form, form-control" %>
          </td>
        </tr>

        <tr>
          <td>パスワード(6文字以上)</td>
          <td></td>
          <td>
          <%= f.password_field :password, autocomplete: "new-password", class:"customer-signup_form, form-control" %>
          </td>
        </tr>

        <tr>
          <td>パスワード(確認用)</td>
          <td></td>
          <td>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"customer-signup_form, form-control" %>
          </td>
        </tr>
      </table>
        <div class="actions">
          <%= f.submit "新規登録", class:"btn customer-signup active" %>
        </div>
          <% end %>
      <div class="finish-sign_up">
        <span class="customer-title">既に登録済みの方</span><br>
        <span class="finish-sign_up-text"><%= link_to "こちら", new_customer_session_path %>からログインしてください。</span>
      </div>
    </div>
  </div>
</div>