
<div class="order-main clearfix">
	<div class="cantainer">
		<div clsss="row">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-9">
				<div class="order-top">
					<h3>注文情報確認</h3>
				</div>

				<div class="confirm-box clearfix">
					<div class="confirm-top">
						<div class="confirm-top-left">
							<table class="table">
								<tr>
									<th>商品名</th> <th>単価（税込）</th> <th>数量</th> <th>小計</th>
								</tr>

								<% i = 0 %>

								<% @cart_items.each do |f| %>
								<tr>
									<td><%= f.product.name %>
									<td><%= f.product.no_tax_price %></td>
									<td><%= f.quantity %></td>
									<td><%= f.product.no_tax_price * f.quantity %></td>
									<% i = i + f.product.no_tax_price * f.quantity %>
								</tr>
								<% end %>
							</table>
						</div>
						<div class="confirm-top-right">
							<table class="table">
								<tr>
									<th>送料</th>
									<td>800</td>
								</tr>
								<tr>
									<th>商品合計</th>
									<td><%= i %></td>
								</tr>
								<tr>
									<th>請求金額</th>
									<td><%= 800 + i %></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

			<%= form_with model: @order,url: orders_path ,method: :post do |f| %>
				<%= f.hidden_field :charge, :value => i + 800 %>
				<div class="confirm-bottom">
					<div class="payment">
							 <strong>支払方法</strong>
						<span class="payment-method">
							<% if params[:order][:payment_method] == "true" %>
									クレジットカード
								<% else %>
									銀行振込
							<% end %>
						</span>

						<div class="confirm-address-box">
								<strong>お届け先</strong>
								<span><% if params[:order][:select] == "1" %>
										<%= current_customer.postcode %>
										<%= current_customer.address %>
										<%= current_customer.last_name %><%= current_customer.first_name %>

											<%= f.hidden_field :postcode, :value => current_customer.postcode %>
											<%= f.hidden_field :address, :value => current_customer.address %>
											<%= f.hidden_field :name, :value => current_customer.last_name + current_customer.last_name%>

								<% elsif params[:order][:select] == "2" %>
										<% a = Address.find(params[:order][:address_id]) %>
										<%= a.postcode %>
										<%= a.address %>
										<%= a.name %>
										<%= f.hidden_field :postcode, :value => a.postcode %>
										<%= f.hidden_field :address, :value => a.address %>
										<%= f.hidden_field :name, :value => a.name %>

								<% else %>
										<%= params[:order][:postcode] %>
										<%= params[:order][:name] %>
										<%= params[:order][:address] %>
										<%= f.hidden_field :postcode, :value => params[:order][:postcode] %>
										<%= f.hidden_field :address, :value => params[:order][:name] %>
										<%= f.hidden_field :name, :value => params[:order][:address] %>
								<% end %>
							</span>
						</div>
					</div>
				</div>
				<%= f.hidden_field :payment_method, :value => params[:order][:payment_method] %>
				<%= f.submit "購入を確定する" %>
				<% end %>
					<div class="green-btn">

					</div>
			</div>

			<div class="col-xs-2">
			</div>

		</div>
	</div>
</div>








































