<div class="container">
	<div class="row">
		<h1><strong>ジャンル編集画面</strong></h1>
		<table class="category-form">
			<%= form_with(model: @category, local: true, url: admin_category_path) do |f| %>
				<tr class="category-new">
					<td><%= f.label :ジャンル %></td>
					<td><%= f.text_field :name, class:"form-control" %></td>
					<td><%= f.radio_button :is_enabled, true %> 有効</td>
					<td><%= f.radio_button :is_enabled, false %> 無効</td>
					<td><%= f.submit "変更を保存する", class:"btn category-update active" %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>