<div class="container">
  <div class="row sign_in-row">
    <div class="col-xs-offset-3 col-xs-6">
      <span class="customer-title">会員の方はこちらからログイン</span>

      <table class="signin-table">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <tr>
        <td>メールアドレス</td>
        <td><%= f.text_field :email, autofocus: true, class:"form-control, customer-signin_form"%></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= f.text_field :password, autofocus: true, class:"form-control, customer-signin_form" %></td>
      </tr>
      </table>
      <div class="forget-password">
      <a href="" title="">=> パスワードを忘れた方はこちら</a>
      </div>
      <div class="actions">
        <%= f.submit "ログイン", class:"btn customer-sign_in active" %>
      </div>
      <% end %>

      <div class="unfinish-sign_up">
        <span class="customer-title">登録がお済みでない方</span><br>
        <span class="unfinish-sign_in-text"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</span>
      </div>

    </div>
  </div>
</div>
