<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<h3>ジャンル検索</h3>
			<!-- each文使ってジャンル並べる -->
			<% @categories.each do |category| %>
			<tr class="">
				<td><%= category.name %></td>
			</tr>
			<% end %>
		</div>
		<div class="col-xs-10">
			<h1>商品一覧</h1>
			<p>(全<%= @products.count %>件)</p>

			<!-- 以下は gem "kaminari" をインストールしたら機能する -->
			<% @products.each do |product| %>
			<div class="product-block">
				<!-- 下記の記述で商品写真 -->
				<div class="block block-image">
					<%= link_to order_path(product.id) do %>
					<%= attachment_image_tag product, :image %>
					<% end %>
				</div>
				<!-- 下記の記述で商品名 -->
				<div class="block-name">
					<% product.name %>
				</div>
				<!-- 下記の記述で商品価格 -->
				<div class="block-price">
					<% product.no_tax_price %>
				</div>
			</div>
			<% end %>
			<%= paginate @products, class: "paginate" %>
			<!-- paginateで表示件数指定は、kaminariインストール後 -->

		</div>
	</div>
</div>